$def with (blogInfo,newLast,monthList,classificationMap)
$var title: $:blogInfo['title'] - Georgeyang blog

<div id="container">
				<div id="leftMenu">
					<div class="lm" id="menu_card">
						<ul>
							最新:
							$if newLast:
								$for lastBlog in newLast:
									$if lastBlog['title']:
										<li>
											<a href="/blog/read?id=$:lastBlog['id']">$:lastBlog['title']</a>
										</li>
							$else:
								<li>
									暂无文章
								</li>
						</ul>
					</div>

					<div class="lm" id="menu_card">
						<ul>
							日期:
							$if monthList:
								$for monthBlog in monthList:
									$if monthBlog['month']:
										<li>
											<a href="/blog/list?month=$:monthBlog['month']">$:monthBlog['month'] ($:int(monthBlog['count']))</a>
										</li>
							$else:
								<li>
									暂无文章
								</li>
						</ul>
					</div>

					<div class="lm" id="menu_card">
						<ul>
							类别:
							$if classificationMap:
								$for (k,v) in classificationMap.items():
									<li>
										<a href="/blog/list?classification=$:k">$:k ($:v)</a>
									</li>
							$else:
								<li>
									暂无类别
								</li>
						</ul>
					</div>

					<div class="lm" id="menu_card">
						<ul>
							友情链接:
							<li>
								<a href="https://github.com/qq179157977" target="_blank">My Github</a>
							</li>

							<li>
								<a href="http://blog.csdn.net/u010499721" target="_blank">My csdn Blog</a>
							</li>
						</ul>
					</div>

				</div>

					$if blogInfo:
							<div id="rightArticle">
								<div class="articleTitle">
									<a href="/blog/read?id=$:blogInfo['id']"><h1>$:blogInfo['title']</h1></a>
									<b>tags:$:blogInfo['tag']     创建时间:$:blogInfo['addTime']</b>
								</div>

								<div class="articleBoby">
									<hr style="margin-left: 20px; margin-right: 20px; height:3px;border:none;border-top:2px dotted gainsboro;" />

									<article class="markdown-body entry-content" itemprop="mainContentOfPage">
										$:blogInfo['content']
									</article>

								</div>

								<div class="comment">
									<!-- UY BEGIN -->
									<div id="uyan_frame"></div>
									<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2076359"></script>
									<!-- UY END -->
								</div>

							</div>
					$else:
						<p>
							暂无内容
						</p>



<!--<div class="nav_page">-->
	

				
			<!--</div>-->
				<div class="push"></div>

			</div>